/* CHANGELOG
 * Written by Josh Grooms on 20151205
 */

@import './Functions';



/** GRAYSCALE COLORS **/
Black              = #000000;    // [  0,   0,   0]
LightBlack         = #191919;    // [ 25,  25,  25]

VeryDarkGray       = #252525;    // [ 37,  37,  37]
DarkGray           = #323232;    // [ 50,  50,  50]
SemiDarkGray       = #3E3E3E;    // [ 62,  62,  62]
Gray               = #4B4B4B;    // [ 75,  75,  75]
SemiLightGray      = #575757;    // [ 87,  87,  87]
LightGray          = #646464;    // [100, 100, 100]
VeryLightGray      = #707070;    // [112, 112, 112]

VeryDarkSilver     = #7D7D7D;    // [125, 125, 125]
DarkSilver         = #898989;    // [137, 137, 137]
SemiDarkSilver     = #969696;    // [150, 150, 150]
Silver             = #A2A2A2;    // [162, 162, 162]
SemiLightSilver    = #AFAFAF;    // [175, 175, 175]
LightSilver        = #BBBBBB;    // [187, 187, 187]
VeryLightSilver    = #C8C8C8;    // [200, 200, 200]

VeryDarkWhite      = #D4D4D4;    // [212, 212, 212]
DarkWhite          = #E1E1E1;    // [225, 225, 225]
SemiDarkWhite      = #EDEDED;    // [237, 237, 237]
White              = #FFFFFF;    // [255, 255, 255]



/** PURE COLORS **/
Blue               = #0000FF;    // [  0,   0, 255]
Cyan               = #00FFFF;    // [  0, 255, 255]
Green              = #00FF00;    // [  0, 255,   0]
Magenta            = #FF00FF;    // [255,   0, 255]
Maroon             = #800000;    // [128,   0,   0]
Orange             = #FF8000;    // [255, 128,   0]
Red                = #FF0000;    // [255,   0,   0]
Teal               = #008080;    // [  0, 128, 128]
Violet             = #8000FF;    // [128,   0, 255]
Yellow             = #FFFF00;    // [255, 255,   0]



/** BLUE COLORS **/
Aqua               = #00C8C8;    // [  0, 200, 200]
DeepBlue           = #0064FF;    // [  0, 100, 255]
LightBlue          = #3296FF;    // [ 50, 150, 255]
SkyBlue            = #96C8FF;    // [150, 200, 255]
VibrantBlue        = #00C8FF;    // [  0, 200, 255]



/** MISCELLANEOUS COLORS **/
Brass              = #AFAF64;    // [175, 175, 100]
Copper             = #AF6432;    // [175, 100,  50]
ForestGreen        = #006400;    // [  0, 100,   0]
LightOrchid        = #AF64FF;    // [175, 100, 255]
Gold               = #C8AF32;    // [200, 175,  50]
Orchid             = #9632FF;    // [150,  50, 255]
Slate              = #647D96;    // [100, 125, 150]
SpringGreen        = #00C864;    // [  0, 200, 100]
Turquoise          = #00C8AF;    // [  0, 200, 175]



/** GRADIENT DEFINITIONS **/
SilverGradient                      = gradient(shade(Silver, lighter), shade(Silver, darker));
SilverGradientInverse               = gradient(shade(Silver, darker), shade(Silver, lighter));
VibrantBlueGradient                 = gradient(shade(VibrantBlue, lighter), shade(VibrantBlue, darker));
VibrantBlueGradientInverse          = gradient(shade(VibrantBlue, darker), shade(VibrantBlue, lighter));
