/* CHANGELOG
 * Written by Josh Grooms on 20151205
 */

 @import "./ColorNames";



/** GENERAL TEXT COLORS **/
TextColor                   = Silver;
TextColorDim                = DarkSilver;
TextColorDimmer             = VeryDarkSilver;
TextColorDisabled           = LightGray;
TextColorDark               = DarkGray;
TextColorFocused            = LightBlue;
TextColorFolded             = LightGray;
TextColorHighlighted        = DarkGray;
TextColorLight              = VeryLightSilver;
TextColorLighter            = DarkWhite;
TextColorModified           = DeepBlue;
TextColorSelected           = DarkGray;



/** HEADING & TITLE COLORS **/
TextHeadingColorPrimary     = VibrantBlue;
TextHeadingColorSecondary   = DarkWhite;
TextHeadingColorTertiary    = VeryDarkWhite;
TextHeadingColorQuaternary  = VeryLightSilver;



 /** VERSION CONTROL COLORS **/
TextVersionAdded            = ForestGreen;
TextVersionModified         = Copper;
TextVersionRemoved          = Maroon;
TextVersionRenamed          = DeepBlue;
