/* STYLES -
 *
 */

/* CHANGELOG
 * Written by Josh Grooms on 20151012
 */


// deep-inset()
//     bevel:              1px inset normal;
//     background-color:   shadow-color(light, semifaded);
//     shadow:             10px inset normal normal;

/* DEBUG - Styles elements with highly visible colors for easier debugging. */
debug()
    border:             1px solid Red;
    background-color:   Blue;
    background-image:   none;
    color:              Green;

deep-inset()
    bevel:              1px inset normal;
    background-color:   shadow-color(light, faded);
    box-shadow:         inset 1px 2px 3px shadow-color(normal, semifaded);

deeper-inset()
    bevel:              1px inset normal;
    background-color:   shadow-color(light, semifaded);
    shadow:             10px inset normal normal;

deep-outset()
    bevel:              1px outset lighter;
    background-color:   gloss-color(normal, normal);
    box-shadow:         0px 0px 0px 1px shadow-color(lighter, semiopaque),
                        3px 3px 5px shadow-color(normal, normal);

flat()
    background-color:   transparent;
    background-image:   none;
    border:             none;
    box-shadow:         none;

/* SHADOW - Sets a standardized box shadow style for any widget class or selector.
 *
 *  SYNTAX:
 *      shadow:     size
 *      shadow:     size direction
 *      shadow:     size direction strength
 *      shadow:     size direction strength opacity
 *
 *  INPUT:
 *      size:
 */
shadow(size, direction = outset, strength = normal, opacity = normal)
    if (direction == inset)
        box-shadow:        inset size size size (- size) shadow-color(strength, opacity);
    else
        box-shadow:        size size size (- size) shadow-color(strength, opacity);

// shallow-inset()
//     bevel:              1px inset normal;
//     background-color:   shadow-color(light, faded);
//     box-shadow:         inset 1px 2px 3px shadow-color(normal, semifaded);

shallow-inset()
    bevel:              1px inset lighter;
    background-color:   shadow-color(lighter, faded);
    box-shadow:         inset 0.5px 1px 2px shadow-color(normal, semifaded);

shallow-outset()
    bevel:              1px outset gloss-color(normal, faded) shadow-color(lighter, semifaded);
    background-color:   gloss-color(darker, faded);

button-outset()
    bevel:              1px inset normal;
    background-image:   gradient(gloss-color(lighter, faded), gloss-color(darker, faded));
    box-shadow:         inset 1px 0px 2px -1px shadow-color(normal, semifaded);

/* BUTTON-TEXT-COLOR - Sets parameters controlling the color of text and colorized images that are children of buttons.
 *
 *  SYNTAX:
 *      button-text-color:  c
 *
 *  INPUT:
 *      c:      RGBA
 *              The desired color of button text and colorized images.
 */
button-text-color(c)
    color:              c;
    & GtkBox GtkImage,
    & GtkBox GtkLabel,
    > GtkImage,
    > GtkLabel
        color:          c;



/* BEVEL - Sets border parameters to resemble an inset or outset bevel.
 *
 *  SYNTAX:
 *      bevel(size)
 *      bevel(size, direction)
 *      bevel(size, direction, strength)
 *      bevel(size, direction, strength, opacity)
 *      bevel(size, direction, topLeftColor, bottomRightColor)
 *
 *  INPUTS
 *      size:
 *
 *  OPTIONAL INPUTS:
 *      direction:          OPTION
 *
 *      strength:           OPTION
 *
 *      opacity:            OPTION
 *
 *      topLeftColor:       RGBA
 *
 *      bottomRightColor:   RGBA
 */
bevel(size, direction = outset, strength = normal, opacity = semitransparent)
    if (iscolor(strength))
        c1 = strength;
        c2 = opacity;
    else if (direction == inset)
        c1 = shadow-color(strength, opacity);
        c2 = gloss-color(strength, opacity);
    else
        c1 = gloss-color(strength, opacity);
        c2 = shadow-color(strength, opacity);

    background-clip:        (direction == inset) ? padding-box : border-box;
    border-color:           c1;
    border-bottom-color:    c2;
    border-right-color:     c2;
    border-style:           solid;
    border-width:           size;
